# KNN CLASSIFIER

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('fruit_data_with_colors.txt',sep='\t')

In [5]:
df

    fruit_label fruit_name     fruit_subtype  mass  width  height  color_score
0             1      apple      granny_smith   192    8.4     7.3         0.55
1             1      apple      granny_smith   180    8.0     6.8         0.59
2             1      apple      granny_smith   176    7.4     7.2         0.60
3             2   mandarin          mandarin    86    6.2     4.7         0.80
4             2   mandarin          mandarin    84    6.0     4.6         0.79
5             2   mandarin          mandarin    80    5.8     4.3         0.77
6             2   mandarin          mandarin    80    5.9     4.3         0.81
7             2   mandarin          mandarin    76    5.8     4.0         0.81
8             1      apple          braeburn   178    7.1     7.8         0.92
9             1      apple          braeburn   172    7.4     7.0         0.89
10            1      apple          braeburn   166    6.9     7.3         0.93
11            1      apple          braeburn   172    7.1     7.6         0.92
12            1      apple          braeburn   154    7.0     7.1         0.88
13            1      apple  golden_delicious   164    7.3     7.7         0.70
14            1      apple  golden_delicious   152    7.6     7.3         0.69
15            1      apple  golden_delicious   156    7.7     7.1         0.69
16            1      apple  golden_delicious   156    7.6     7.5         0.67
17            1      apple  golden_delicious   168    7.5     7.6         0.73
18            1      apple       cripps_pink   162    7.5     7.1         0.83
19            1      apple       cripps_pink   162    7.4     7.2         0.85
20            1      apple       cripps_pink   160    7.5     7.5         0.86
21            1      apple       cripps_pink   156    7.4     7.4         0.84
22            1      apple       cripps_pink   140    7.3     7.1         0.87
23            1      apple       cripps_pink   170    7.6     7.9         0.88
24            3     orange     spanish_jumbo   342    9.0     9.4         0.75
25            3     orange     spanish_jumbo   356    9.2     9.2         0.75
26            3     orange     spanish_jumbo   362    9.6     9.2         0.74
27            3     orange  selected_seconds   204    7.5     9.2         0.77
28            3     orange  selected_seconds   140    6.7     7.1         0.72
29            3     orange  selected_seconds   160    7.0     7.4         0.81
30            3     orange  selected_seconds   158    7.1     7.5         0.79
31            3     orange  selected_seconds   210    7.8     8.0         0.82
32            3     orange  selected_seconds   164    7.2     7.0         0.80
33            3     orange      turkey_navel   180    7.6     8.2         0.79
34            3     orange      turkey_navel   154    7.2     7.2         0.82
35            4      lemon    spanish_belsan   194    7.2    10.3         0.70
36            4      lemon    spanish_belsan   200    7.3    10.5         0.72
37            4      lemon    spanish_belsan   186    7.2     9.2         0.72
38            4      lemon    spanish_belsan   216    7.3    10.2         0.71
39            4      lemon    spanish_belsan   196    7.3     9.7         0.72
40            4      lemon    spanish_belsan   174    7.3    10.1         0.72
41            4      lemon           unknown   132    5.8     8.7         0.73
42            4      lemon           unknown   130    6.0     8.2         0.71
43            4      lemon           unknown   116    6.0     7.5         0.72
44            4      lemon           unknown   118    5.9     8.0         0.72
45            4      lemon           unknown   120    6.0     8.4         0.74
46            4      lemon           unknown   116    6.1     8.5         0.71
47            4      lemon           unknown   116    6.3     7.7         0.72
48            4      lemon           unknown   116    5.9     8.1         0.73
49            4      lemon           unknown   152    6.5     8.5         0.72
50            4      lemon           unknown   118    6.1     8.1         0.70

### 2,pre processing or cleaning

In [6]:
df.columns

Index(['fruit_label', 'fruit_name', 'fruit_subtype', 'mass', 'width', 'height',
       'color_score'],
      dtype='object')

In [7]:
df['fruit_label']

0     1
1     1
2     1
3     2
4     2
5     2
6     2
7     2
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    3
25    3
26    3
27    3
28    3
29    3
30    3
31    3
32    3
33    3
34    3
35    4
36    4
37    4
38    4
39    4
40    4
41    4
42    4
43    4
44    4
45    4
46    4
47    4
48    4
49    4
50    4
Name: fruit_label, dtype: int64

In [9]:
df['fruit_label'].unique()

array([1, 2, 3, 4], dtype=int64)

In [10]:
df['fruit_name'].unique()

array(['apple', 'mandarin', 'orange', 'lemon'], dtype=object)

In [11]:
df.shape

(51, 7)

In [12]:
df['fruit_label'].value_counts()

1    19
4    16
3    11
2     5
Name: fruit_label, dtype: int64

In [13]:
df.isna()

    fruit_label  fruit_name  fruit_subtype   mass  width  height  color_score
0         False       False          False  False  False   False        False
1         False       False          False  False  False   False        False
2         False       False          False  False  False   False        False
3         False       False          False  False  False   False        False
4         False       False          False  False  False   False        False
5         False       False          False  False  False   False        False
6         False       False          False  False  False   False        False
7         False       False          False  False  False   False        False
8         False       False          False  False  False   False        False
9         False       False          False  False  False   False        False
10        False       False          False  False  False   False        False
11        False       False          False  False  False   False        False
12        False       False          False  False  False   False        False
13        False       False          False  False  False   False        False
14        False       False          False  False  False   False        False
15        False       False          False  False  False   False        False
16        False       False          False  False  False   False        False
17        False       False          False  False  False   False        False
18        False       False          False  False  False   False        False
19        False       False          False  False  False   False        False
20        False       False          False  False  False   False        False
21        False       False          False  False  False   False        False
22        False       False          False  False  False   False        False
23        False       False          False  False  False   False        False
24        False       False          False  False  False   False        False
25        False       False          False  False  False   False        False
26        False       False          False  False  False   False        False
27        False       False          False  False  False   False        False
28        False       False          False  False  False   False        False
29        False       False          False  False  False   False        False
30        False       False          False  False  False   False        False
31        False       False          False  False  False   False        False
32        False       False          False  False  False   False        False
33        False       False          False  False  False   False        False
34        False       False          False  False  False   False        False
35        False       False          False  False  False   False        False
36        False       False          False  False  False   False        False
37        False       False          False  False  False   False        False
38        False       False          False  False  False   False        False
39        False       False          False  False  False   False        False
40        False       False          False  False  False   False        False
41        False       False          False  False  False   False        False
42        False       False          False  False  False   False        False
43        False       False          False  False  False   False        False
44        False       False          False  False  False   False        False
45        False       False          False  False  False   False        False
46        False       False          False  False  False   False        False
47        False       False          False  False  False   False        False
48        False       False          False  False  False   False        False
49        False       False          False  False  False   False        False
50        False       False          False  False  False   False        False

In [14]:
condition = df.isna()==True
df[condition]

    fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0           NaN        NaN           NaN   NaN    NaN     NaN          NaN
1           NaN        NaN           NaN   NaN    NaN     NaN          NaN
2           NaN        NaN           NaN   NaN    NaN     NaN          NaN
3           NaN        NaN           NaN   NaN    NaN     NaN          NaN
4           NaN        NaN           NaN   NaN    NaN     NaN          NaN
5           NaN        NaN           NaN   NaN    NaN     NaN          NaN
6           NaN        NaN           NaN   NaN    NaN     NaN          NaN
7           NaN        NaN           NaN   NaN    NaN     NaN          NaN
8           NaN        NaN           NaN   NaN    NaN     NaN          NaN
9           NaN        NaN           NaN   NaN    NaN     NaN          NaN
10          NaN        NaN           NaN   NaN    NaN     NaN          NaN
11          NaN        NaN           NaN   NaN    NaN     NaN          NaN
12          NaN        NaN           NaN   NaN    NaN     NaN          NaN
13          NaN        NaN           NaN   NaN    NaN     NaN          NaN
14          NaN        NaN           NaN   NaN    NaN     NaN          NaN
15          NaN        NaN           NaN   NaN    NaN     NaN          NaN
16          NaN        NaN           NaN   NaN    NaN     NaN          NaN
17          NaN        NaN           NaN   NaN    NaN     NaN          NaN
18          NaN        NaN           NaN   NaN    NaN     NaN          NaN
19          NaN        NaN           NaN   NaN    NaN     NaN          NaN
20          NaN        NaN           NaN   NaN    NaN     NaN          NaN
21          NaN        NaN           NaN   NaN    NaN     NaN          NaN
22          NaN        NaN           NaN   NaN    NaN     NaN          NaN
23          NaN        NaN           NaN   NaN    NaN     NaN          NaN
24          NaN        NaN           NaN   NaN    NaN     NaN          NaN
25          NaN        NaN           NaN   NaN    NaN     NaN          NaN
26          NaN        NaN           NaN   NaN    NaN     NaN          NaN
27          NaN        NaN           NaN   NaN    NaN     NaN          NaN
28          NaN        NaN           NaN   NaN    NaN     NaN          NaN
29          NaN        NaN           NaN   NaN    NaN     NaN          NaN
30          NaN        NaN           NaN   NaN    NaN     NaN          NaN
31          NaN        NaN           NaN   NaN    NaN     NaN          NaN
32          NaN        NaN           NaN   NaN    NaN     NaN          NaN
33          NaN        NaN           NaN   NaN    NaN     NaN          NaN
34          NaN        NaN           NaN   NaN    NaN     NaN          NaN
35          NaN        NaN           NaN   NaN    NaN     NaN          NaN
36          NaN        NaN           NaN   NaN    NaN     NaN          NaN
37          NaN        NaN           NaN   NaN    NaN     NaN          NaN
38          NaN        NaN           NaN   NaN    NaN     NaN          NaN
39          NaN        NaN           NaN   NaN    NaN     NaN          NaN
40          NaN        NaN           NaN   NaN    NaN     NaN          NaN
41          NaN        NaN           NaN   NaN    NaN     NaN          NaN
42          NaN        NaN           NaN   NaN    NaN     NaN          NaN
43          NaN        NaN           NaN   NaN    NaN     NaN          NaN
44          NaN        NaN           NaN   NaN    NaN     NaN          NaN
45          NaN        NaN           NaN   NaN    NaN     NaN          NaN
46          NaN        NaN           NaN   NaN    NaN     NaN          NaN
47          NaN        NaN           NaN   NaN    NaN     NaN          NaN
48          NaN        NaN           NaN   NaN    NaN     NaN          NaN
49          NaN        NaN           NaN   NaN    NaN     NaN          NaN
50          NaN        NaN           NaN   NaN    NaN     NaN          NaN

we need to apply domain knowledge

In [15]:
df.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [19]:
knnCls = KNeighborsClassifier()

In [20]:
X = df[['mass']]
X.shape

(51, 1)

In [21]:
X.head()

   mass
0   192
1   180
2   176
3    86
4    84

In [22]:
y = df['fruit_label']

In [24]:
y.shape

(51,)

In [25]:
X.shape[0] == y.shape[0]

True

In [27]:
knnCls.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [32]:
knnCls.predict([ [116]])

array([4], dtype=int64)

df.sample(2)

In [34]:
df.sample(7)

    fruit_label fruit_name  fruit_subtype  mass  width  height  color_score
20            1      apple    cripps_pink   160    7.5     7.5         0.86
21            1      apple    cripps_pink   156    7.4     7.4         0.84
33            3     orange   turkey_navel   180    7.6     8.2         0.79
22            1      apple    cripps_pink   140    7.3     7.1         0.87
24            3     orange  spanish_jumbo   342    9.0     9.4         0.75
34            3     orange   turkey_navel   154    7.2     7.2         0.82
5             2   mandarin       mandarin    80    5.8     4.3         0.77

In [41]:
knnCls.predict([ [160],  [156],[180],[120],[154],[80]])

array([1, 1, 1, 4, 1, 2], dtype=int64)

# to find accuracy score

In [45]:
knnCls.score(X,y)*100

76.47058823529412

In [50]:
x = df[['width','height']]
y = df['fruit_label']
knnCls2 = KNeighborsClassifier()
knnCls2.fit(x,y)
knnCls2.score(x,y)

0.8627450980392157

In [53]:
neighbours = [1,2,3,4,8,32]
scores = {}

for n in neighbours:
    cls = KNeighborsClassifier(n_neighbors=n)
    cls.fit(X,y)
    accuracy = cls.score(X,y)
    scores[n] = accuracy
print(scores)

{1: 0.8823529411764706, 2: 0.7647058823529411, 3: 0.7843137254901961, 4: 0.7647058823529411, 8: 0.7647058823529411, 32: 0.37254901960784315}

In [54]:
from sklearn.datasets import load_iris

In [55]:
iris = load_iris()

In [56]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [62]:
iris_df = pd.DataFrame(iris['data'])
iris_df.columns = iris['feature_names']

In [58]:
iris_df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [59]:
y = iris['target']

In [64]:
print(iris['DESCR'])

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [71]:
X = iris_df[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)' ,'petal width (cm)' ]]

In [72]:
X.shape

(150, 4)

In [74]:
knncls3 = KNeighborsClassifier(n_neighbors=5)
knncls3.fit(X,y)
print(knncls3.score(X,y))

0.9666666666666667