##### ml

#### ml

### ml

In [3]:
print(10)

10

In [6]:
print(10,20,30)

10 20 30

Data types in python
1. integer examples 2,3,5,10,20
2. floating point numbers 2.5,3.0,3.5
3. strings a to z A to Z 0-9 these should be enclosed with single cotation

In [8]:
print('sk')

sk

## variables

In [12]:
name = 'sk'
print(name)

sk

### identifiers

1. it should starts with a toz or A to Z or _(underscore).
2. it contains numbers also
3. it can not contain spaces anhd special characters

```
type(variable_or_value)
  to check type of given variable or value
````

### operators in python

###  Operator types
````
1.arthimatic operaors +,-,*,/,%(TO GET REMAINDER),**(power)
````

In [13]:
print(26+66)
print(26-66)
print(26*66)
print(26%66)

92
-40
1716
26

In [14]:
print(26/66)

0.3939393939393939

In [15]:
print(26//66)

0

    2.assignment operators  =,+=,-=./=,//=,%=,**=

In [19]:
number =9
print(number)

9

In [20]:
print(number)
number -= 8
print(number)

9
1

comparision operators
==,<,>,<=,>=,!=

In [23]:
print(6==6)

True

In [25]:
print(2!=2)

False

  logical operators

##  bitwise

## Bitwise operators
``````
     bit wise and (&)
     bit wise or |
     bit wise xor ^
     bit wise

left shift operator a<<b

````
step1 convert leftside values into binary 
actual                 x x x x x x
8   ----->                 1 0 0 0
pos1                     1 0 0 0 *
pos2                   1 0 0 0 * *
RESULT = 1 0 0 0 * *
replace start with zero 0
           1 0 0 0 0 0 
convert binary value to decimal = 32
````

In [27]:
print(8<<2)

32

In [28]:
print(8>>2)

2

## membership operators

In [29]:
print('a' in 'grapes')

True

In [30]:
print('z' in 'decimal')

False

In [33]:
print(1 in "123")

TypeError: 'in <string>' requires string as left operand, not int

## typecasting or convert the values one form to another

int(),float(),str()

In [37]:
number = 108
print(float(number))

108.0

In [39]:
number = 20
number = float(number)

print(number)

20.0

In [40]:
print(type(number))

<class 'float'>

In [41]:
number = '123'
print(type(number))
number = int(number)
print(type(number),number)

<class 'str'>
<class 'int'> 123

In [42]:
number = 12.45
number = int(number)
print(number)

12

In [43]:
num = input('enter')
print(num)

enter5
5

In [47]:
num1 = input('enter')
num2 = input('enter')
num1 = int(num1)
num2=int(num2)
print(num1 + num2)

enter5
enter3
8

## conditional statements

IF, ELSE, ELIF

In [50]:
43425+346

43771

In [51]:
for each in 'sai kalyan':
    print(each)

s
a
i

k
a
l
y
a
n

In [52]:
start = 10
while start<=20:
    print(start)
    start +=1

10
11
12
13
14
15
16
17
18
19
20

# list concept

In [53]:
stds = ["hi","bye","thank"]
print(stds)

['hi', 'bye', 'thank']

In [54]:
stds[2]

'thank'

In [55]:
stds[-1]

'thank'

In [57]:
 stds[1:]

['bye', 'thank']

In [60]:
fruits = ['apple','orange','banana','grape']
juice = fruits.copy()
print(juice)

['apple', 'orange', 'banana', 'grape']

## count

In [63]:
grades = [10,3,5,89,45.6]

grades.count(10)

1

## INSERT

 it is used to add element into list in a aprticular address

In [65]:
grades.insert(1,4)

In [66]:
print(grades)

[10, 4, 3, 5, 89, 45.6]